.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 20px 50px;
    background-color: black;
    color: white;
    border-radius: 50px 50px 0 0 ;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content-image{
    display: flex;
    justify-content: flex-end;
}


@media screen and (min-width: 992px) and (max-width: 1199px){
    .footer-img{
        width: 250px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .footer{
        grid-gap: 0;
        padding: 20px 20px;
    }
    .footer-img{
        width: 220px;
    }
}


@media screen and (min-width: 568px) and (max-width: 767px){
    .footer{
        grid-template-columns: 60% 40%;
        grid-gap: 0;
        padding: 20px 20px;
    }
    .footer-img{
        width: 80%;
    }
}


@media screen and (min-width: 320px) and (max-width: 567px){
    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        padding: 10px 10px;
    }
    .footer-img{
        width: 50%;
    }
    .footer-content-image{
        justify-content: center;
        grid-row: 1;
    }
}
